@import './variables.scss';

$bubble-color: #eeeeee;
$bubble-pointer-width: 20px;
$bubble-radius: 4px;
$vertical-margin: 20px;

.adminChatting{
  padding: 20px;
  position: relative;

  .titleBox {
      margin-bottom: 15px;

      .title{
          font-size: 22px;
          font-weight: bold;
      }
  }

  .userChattingWrap{
    width: 100%;
    max-height: 600px;
    overflow-y: auto;
    
    .userChattingBox{
      height: 80px;
      padding: 10px;
      background-color: white;
      cursor: pointer;

      .userDate{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        color: #ddd;
        font-size: 12px;
      }

      .userID{
        width: 100%;
        font-size: 14px;
        font-weight: 600;
      }

      .userDes{
        width: 100%;
        color: gray;
      }

      &:hover{
        background-color: #fafafa;
      }
    } 
  }
}





