@import './variables.scss';

.loginWrap{
    padding: 20px;
    position: relative;
    top: 10%;

    .titleBox {
        margin-bottom: 15px;

        .title{
            font-size: 22px;
            font-weight: bold;
        }
    }

    .inputTitle {
        margin-bottom: 25px;
        font-size: 18px;
        font-weight: 600;
    }

    .inputBox {
        width: 100%;
        margin-bottom: 25px;

        input {
            @include inputStyle;
            &:focus{
                background-color: #ddd;
                outline: none;
            }
        }
    }

    .btnBox {
        display: flex;
        justify-content: center;

        .btn1{
            @include btnStyle;
            width: 100%;
            background-color: $btnColor2;
            margin-bottom: 15px;
        }
    }

    .socialLoginBox{
        margin-top: 20px;
        div{
            width: 100%;
            display: flex;
            justify-content: center;
            &:first-child{
                @include desFontStyle;
            }
        }
    }

    .registerBox{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        span{
            @include desFontStyle;
        }
        .btn2{
            margin-left: 5px;
            color: #5375ea;
            text-decoration: none;
        }
    }
}





