@import './variables.scss';

.registerWrap{
    padding: 20px;
    position: relative;
    top: 10%;

    .titleBox {
        margin-bottom: 15px;

        .title{
            font-size: 22px;
            font-weight: bold;
        }
    }

    .inputBox {
        width: 100%;
        margin-bottom: 25px;

        input {
            @include inputStyle;
            &:focus{
                background-color: #ddd;
                outline: none;
            }
        }
    }

    .btnBox {
        display: flex;
        justify-content: center;

        .btn{
            @include btnStyle;
            width: 100%;
            background-color: $btnColor2;
            margin-bottom: 15px;
        }
    }
}




