@import './style/variables.scss';

html, body {
  margin: 0;
  padding: 0;
  background-color: #c8d0f5;
}

.App {
  width: 400px;
  height: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  border: 1px solid #ddd;
  background-color: white;
}

@media (max-width: $breakPoint-mobile) {
  .App {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    border-radius: 0px !important;
    border: none !important;
  }
}